/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
.bg-info {
    background-color: #cad7b9 !important;
    /* some secondary colour */
}

.navbar-light .navbar-brand {
    color: black;
    /* contrast to secondary colour */
}

.btn-primary {
    color: black;
    /* contrast to secondary colour */
    /* font-size: 150%; */
    background-color: #ffb366;
    /* some secondary colour */
    border-color: #ffb366;
    /* some accent colour */
    border-width: thin
}

.btn-secondary {
    color: white;
    background-color: #979682;
    border-color: #979682;
    border-width: thin;
}

body {
    background-color: whitesmoke;
    /* some primary colour */
}

.navbar-brand {
    font-family: 'Quicksand', cursive;
    font-size: 2.25rem;
}

.product_text_size {

    font-weight: 600;
}

.product_image{
    width: 30%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
        }

.card_padding{
    padding: 0;
    margin-bottom: 0px;
}  
